/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa, sans-serif;
  font-size: 12px;
}

.player-container {
  min-height: 500px;
  width: 95vw;
  background: #dae0e6;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, .3);
}


.img-container {
  min-height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 29px;
}

.img-container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, .5);
}

h2 {
  font-size: 2opx;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Progress bar */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* progress values hardcoded for now */
  width: 66%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin: 0 15px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(60%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

@media screen and (min-width: 376px) {
  .player-container {
    width: 400px;
  }

  .img-container {
    left: 50px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

}
